<%= form_with(model: custom_form) do |f| %>
  <% if custom_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_form.errors.count, "error") %> prohibited this Custom Form from being saved:</h2>

      <ul>
        <% custom_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-1">
    <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
    <div class="mt-1">
      <%= f.text_field :name, placeholder:"Enter your form's name", class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
    </div>
  </div>

  <div class="field mb-1">
    <h1 class="text-2xl">Form Elements</h1>
  </div>
  
  <% f.fields_for :form_elements do |ff| %>
    <%= render :partial => 'form_element', :locals => { :f => ff } %>
  <% end %>
  
  <%= add_child_link "Add an Element", f, :form_elements %>

  <br />

  <div class="actions">
    <%= f.button class: "inline-flex px-4 py-2 text-sm font-medium rounded-md shadow-sm text-white bg-builder-600 hover:bg-builder-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-builder-500" %>
  </div>
<% end %>
