<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @custom_form.name %>
</p>

<p>
  <strong>Owned by:</strong>
  <%= @custom_form.user.email %>
</p>

<p>
  <strong>Published:</strong>
  <%= @custom_form.published_at ? @custom_form.published_at.strftime("%b %d, %Y") : "--" %>
</p>

<%= link_to 'Edit', edit_custom_form_path(@custom_form) %> |
<%= link_to 'Back', custom_forms_path %>
