<%= form_with(model: submission) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :responses %>
    <%= form.text_field :responses %>
  </div>

  <div class="actions">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :custom_form_id, value: @custom_form_id %>
    <%= form.submit %>
  </div>
<% end %>
